@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  color: rgba(204,33,39,255);
  text-align: center;
  margin-top: 100px;
  font-family: Helvetica, sans-serif;
}

nav {
  height: 56px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%
}

nav .btn {
  background-color: transparent;
  color: black;
  transition: background-color .001s;
  font-size: 12pt;
  height: 48px;
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(240, 240, 240);
}

#corner-logo {
  max-width: 20px;
  max-height: 20px;
  transition: background-color .001s;
}

#corner-logo:hover {
  background-color: rgb(240, 240, 240);
}

#boards-page {
  background-color: black;
  color: white;
}

.wrapper {
  position: relative;
  display: flex;
  margin-right: auto;
}

.form-control {
  background-color: rgb(240, 240, 240);
  color: black;
  transition: background-color .001s;
  height: 48px;
}

.form-control:hover {
  background-color: rgb(225, 225, 225);
}

// #search-icon {
//   position: absolute;
//   top: 9px;
//   right: 8px;
//   width: 12px;
//   visibility: hidden;
// }
