@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  color: rgba(204,33,39,255);
  text-align: center;
  margin-top: 100px;
  font-family: Helvetica, sans-serif;
}

nav {
  height: 56px;
  display: flex;
  align-items: center;
}

.btn {
  background-color: transparent;
  color: black;
  transition: background-color .001s;
  font-size: 12pt;
  font-weight: bold;
  height: 48px;
}

nav .btn {
  margin-left: 2px;
  margin-right: 2px;
}

.wrapper {
  position: relative;
  display: flex;
  margin-right: auto;
}

.btn:hover {
  background-color: rgb(240, 240, 240);
}
